<!-- features.html -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured">
                        <img src="{{ url_for('static', filename='images/pic01.png') }}" style="width: 384px; height: 384px;" alt="Data Extraction" />
                    </a>
                    <div class="inner">
                        <header>
                            <h2>Data Extraction API</h2>
                            <p>Fast, reliable, and scalable</p>
                        </header>
                        <p>
                            Hit our endpoint and instantly get structured data from any resume as JSON. 
                            Upload files up to <strong>10MB</strong> in size—no matter the format.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured">
                        <img src="{{ url_for('static', filename='images/pic02.webp') }}" style="width: 384px; height: 384px;" alt="Custom Components" />
                    </a>
                    <div class="inner">
                        <header>
                            <h2>Custom Components</h2>
                            <p>Build forms, get results—no coding required</p>
                        </header>
                        <p>
                            Subscribe to custom components to quickly build forms and retrieve the data you need from CVs—efficiently and without reinventing the wheel.
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section class="box feature">
                    <a href="#" class="image featured">
                        <img src="{{ url_for('static', filename='images/pic03.png') }}" style="width: 384px; height: 384px;" alt="Monitoring & Insights" />
                    </a>
                    <div class="inner">
                        <header>
                            <h2>Monitoring & Insights</h2>
                            <p>Understand your candidates</p>
                        </header>
                        <p>
                            Get detailed analytics about your candidates, including common tech stacks and abilities. 
                            Monitor usage and gain actionable insights to improve your hiring process.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
