<!-- footer.html -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                <section class="widget links">
                    <h3>API Documentation</h3>
                    <ul class="style2">
                        <li><a href="#">Quick Start Guide</a></li>
                        <li><a href="#">Authentication</a></li>
                        <li><a href="#">Parse Resume Endpoint</a></li>
                        <li><a href="#">Error Codes</a></li>
                        <li><a href="#">Full API Reference</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section class="widget links">
                    <h3>Integrations</h3>
                    <ul class="style2">
                        <li><a href="#">Angular</a></li>
                        <li><a href="#">React</a></li>
                        <li><a href="#">Vue.js</a></li>
                        <li><a href="#">Next.js</a></li>
                        <li><a href="#">More coming soon</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section class="widget links">
                    <h3>Other Projects</h3>
                    <ul class="style2">
                        <li><a href="#">Invoice Generator</a></li>
                        <li><a href="#">PDF Merger API</a></li>
                        <li><a href="#">Image Optimizer</a></li>
                        <li><a href="#">Email Validator</a></li>
                        <li><a href="#">Currency Converter</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <section class="widget contact last">
                    <h3>Contact</h3>
                    <ul>
                        <li>
                            <a href="https://github.com/daniel117622" class="icon brands fa-github" target="_blank">
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/daniel-de-la-cruz-b489642aa/" class="icon brands fa-linkedin" target="_blank">
                                <span class="label">LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:dan5jul@hotmail.com" class="icon solid fa-envelope">
                                <span class="label">Email</span>
                            </a>
                        </li>
                    </ul>
                    <p>
                        644 100 9945<br />
                        Guadalajara, Jal<br />
                        <a href="mailto:dan5jul@hotmail.com">dan5jul@hotmail.com</a>
                    </p>
                </section>
            </div>
        </div>
    </footer>
</div>
